boto3==1.35.98
firebase_admin==6.6.0
fitz==0.0.1.dev2
Flask==3.1.0
Flask_Caching==2.3.0
Flask_Cors==5.0.0
flask_mail==0.10.0
openai==0.28.0
pandas==2.2.3
pdf2image==1.17.0
pdfplumber==0.11.4
protobuf==5.29.3
PyPDF2==3.0.1
pytesseract==0.3.13
python-dotenv==1.0.1
redis==5.2.0
Requests==2.32.3
stripe==11.3.0
transformers==4.46.3
Werkzeug==3.1.3
